{% extends  'home.html' %}
{% block book_list %}
    <div class="book_list">

        {% for book in books %}
            <div class="clearfix book_title">
                <a href="/book_detail/{{ book.pk }}" class="clearfix ">
                    <div class="pull-left thumbnail">
                        <img src="media/{{ book.img }}">
                    </div>
                    <div class="pull-left">
                        <p>{{ book.title }}</p>
                        <p>{{ book.author }}</p>
                        <p><span>¥&nbsp</span>{{ book.price }}</p>
                    </div>
                </a>
            </div>

        {% endfor %}

    </div>
    <hr>
    <p class="more_book">
        <img src="/static/img/angle-double-down.png">
        再多来点儿
    </p>
{% endblock book_list%}


<script src="/static/js/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">




</script>